/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-family: 'Fredoka One', cursive;
}

main{
  font-family: 'Fredoka', sans-serif;
}

img{
  width: 100%;
}

/*SPECIFIC*/
header h1{
  color: rgb(231, 2, 112);
  font-weight: lighter;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

