/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-family: 'Fredoka One', cursive;
}

main{
  font-family: 'Fredoka', sans-serif;
}

img{
  max-width: 100%;
  width: 80px;
  vertical-align: middle;
}

header h1{
  color: rgb(231, 2, 112);
  font-weight: lighter;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}


.container{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}


main .container-text{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}


/*SPECIFIC*/

div .container-cards{
  background-color: black;
  text-align: left;
  float: left;
  width: calc(90% / 3);
  margin: 15px;
  box-shadow: 5px 5px 5px #dedede;
}

div .container-cards ul{
  color: white;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  text-align: left;
}

li{
  margin-bottom:5px;
  margin-left: 10px;
}

div .container-cards ul li:first-child{
  font-family: 'Fredoka One', cursive;
}

div .container-cards ul li:nth-child(2){
  font-size: 0.8rem;
}

div .container-cards ul li:last-child{
  font-size: 0.8rem;
}

div .container-cards ul li a{
  text-decoration: none;
  color: lightskyblue;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

p{
  margin-bottom: 5%;
}